<app-navbar></app-navbar>
<h1>Popular Courses</h1><hr>
<div class="container">
    <div class="row">
    	<div class="card col-md-12 p-3">
    		<div class="row ">
    			<div class="col-md-4">
    				<img class="w-100" src="../assets/images/p4.jfif">
    			</div>
    			<div class="col-md-8">
    				<div class="card-block">
    					<h6 class="card-title">Ul&UX Design</h6>
    					<p class="card-text text-justify">UX and UI design are related but not exactly the same. UX design involves managing the user journey as they interact with a product or service, while UI design focuses on the actual construction of that product or service's interface. UI design is usually considered part of the UX design process.</p>
    					<a href="https://webcode.tools/" class="btn btn-primary">read more...</a>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="card col-md-12 p-3">
    		<div class="row ">
    			<div class="col-md-8">
    				<div class="card-block">
    					<h6 class="card-title text-right">Angular js</h6>
    					<p class="card-text text-justify">AngularJS is a discontinued free and open-source JavaScript-based web framework for developing single-page applications. It was maintained mainly by Google and a community of individuals and corporations.Angular is an open-source JavaScript front-end framework developed and managed by Google's Angular team. Angular is the most popular client-side framework for developing scalable and high-performing mobile and web apps using HTML, CSS, and TypeScript.</p>
    					<a href="https://www.udemy.com/topic/angular/free/" class="btn btn-primary">read more...</a>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<img class="w-100" src="../assets/images/p5.jfif">
    			</div>
    		</div>
    	</div>
    	<div class="card col-md-12 p-3">
    		<div class="row ">
    			<div class="col-md-4">
    				<img class="w-100" src="../assets/images/p6.jfif">
    			</div>
    			<div class="col-md-8">
    				<div class="card-block">
    					<h6 class="card-title">React js</h6>
    					<p class="card-text text-justify">React is a free and open-source front-end JavaScript library for building user interfaces based on components. It is maintained by Meta and a community of individual developers and companies.React is a front-end JavaScript library. React is capable of making API calls (sending the request to the backend), which deal with the data. React cannot process the database or the data source itself.</p>
    					<a href="https://alterclass.io/pricing" class="btn btn-primary">read more...</a>
    				</div>
    			</div>
    		</div>
    	</div>
    	
    	<div class="card col-md-12 p-3">
    		<div class="row ">
    			<div class="col-md-8">
    				<div class="card-block">
    					<h6 class="card-title text-right">Javascript</h6>
    					<p class="card-text text-justify">JavaScript is an open-source programming language. It is designed for creating web-centric applications. It is lightweight and interpreted, which makes it much faster than other languages. JavaScript is integrated with HTML, which makes it easier to implement JavaScript in web applications.JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat.</p>
    					<a href="https://www.w3docs.com/learn-javascript/javascript-comparisons.html" class="btn btn-primary">read more...</a>
    			</div>
            </div>
            <div class="col-md-4">
    				<img class="w-100" src="../assets/images/p10.jfif">
    			</div>
    		</div>
    	</div>
    </div>
	<div class="card col-md-12 p-3">
		<div class="row ">
			<div class="col-md-4">
				<img class="w-100" src="../assets/images/p8.jfif">
			</div>
			<div class="col-md-8">
				<div class="card-block">
					<h6 class="card-title">Java</h6>
					<p class="card-text text-justify">Apart from this, programmers and developers have coined their imaginary full forms of the term JAVA. The most popular and commonly used full form of JAVA is "Just Another Virtual Accelerator". Even though the word JAVA has no special meaning or full form, this full form is used jokingly by people.Four types of Java Programming language platforms are: 1) Java Platform, Standard Edition (Java SE) 2) Java Platform, Enterprise Edition (Java EE) 3) Java Platform, Micro Edition (Java ME) 4) JavaFX.</p>
					<a href="https://www.sololearn.com/learn/courses/java-introduction" class="btn btn-primary">read more...</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card col-md-12 p-3">
		<div class="row ">
			<div class="col-md-8">
				<div class="card-block">
					<h6 class="card-title text-right">Python</h6>
					<p class="card-text text-justify">Python is a dynamic, interpreted (bytecode-compiled) language. There are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible, and you lose the compile-time type checking of the source code. Python tracks the types of all values at runtime and flags code that does not make sense as it runs.</p>
					<a href="https://www.educative.io/courses/learn-python-3-from-scratch" class="btn btn-primary">read more...</a>
				</div>
			</div>
			<div class="col-md-4">
				<img class="w-100" src="../assets/images/p11.jfif">
			</div>
		</div>
	</div>
	
</div>
<app-footer></app-footer>