<app-dashboardheader></app-dashboardheader>
<h1 class="text-center text-warning my-5">User Profile</h1>

  <div class="container text-center">
    <table class="table table-bordered">
        <tr>
            <th>User_ID</th>
            <td>{{data.user_id}}</td>
        </tr>
        <tr>
            <th>User_FNAME</th>
            <td>{{data.user_fname}}</td>
        </tr>
        <tr>
            <th>User_LNAME</th>
            <td>{{data.user_lname}}</td>
        </tr>
        <tr>
            <th>User_EMAIL</th>
            <td>{{data.user_email}}</td>
        </tr>
        <tr>
            <th>User_PHONE</th>
            <td>{{data.user_phone}}</td>
        </tr>
    </table>
  </div>
